<header>
    <div class="text">EXEC Browser</div>
</header>
<form class="filter" name="filterForm">
    Filter: <input ng-model="query"> 
    - Max count: <input type="number" name="executivesCount" ng-model="executivesCount" min="0" max="500">
    <span class="error" ng-show="filterForm.executivesCount.$error.required">
        Required!
    </span>
    <span class="error" ng-show="filterForm.executivesCount.$error.number">
        Not valid number!
    </span>
</form>
<section>
    <div id="executivesList">
        <div ng-repeat="executive in executives | filterAndReduce:executivesCount:querym" class="executiveItem">
            <a href="#/executives/{{executive.id.govtrack}}">{{executive.name.first + " " + executive.name.last}}</a>
        </div>
    </div>
</section>
